<h1>Enter a Place that you've been to!</h1>
<form action="/place_added" method="post">
  <label for="new-city">Enter a city that you've visited:</label>
  <input id="new-city" name="new-city" type="text">
  <label for="new-photo">Enter the URL for a photo of the place you've visited:</label>
  <input id="new-photo" name="new-photo" type="text">
  <label for="new-description">Enter a description here:</label>
  <input id="new-description" name="new-description" type="text">
  <button type="submit">Enter</button>
</form>
