<h1>Enter a Place that you've been to!</h1>
<form action="/place_added" method="post">
  <label for="new-city">Enter a city that you've visited:</label>
  <input id="new-city" name="new-city" type="text">
  <button type="submit">Enter</button>
</form>
