<h1>You've added a new place!</h1>
<p>@Model.GetCity()</p>
<p><img src="@Model.GetPhoto()"></p>
<p>@Model.GetDescription()</p>
<p><a href="/">Add another City</a></p>
<p><a href="/view_all_places">View all places visited</a></p>
