<h1>Places You've Been</h1>
<ul>
  @foreach(var place in Model)
  {
    <li>@place.GetCity()</li>
    <li><img src="@place.GetPhoto()"></img></li>
    <li>@place.GetDescription()</li>
  }
</ul>
<p><a href="/">Add another place here!</a></p>
<form action="/places_cleared" method="post">
  <button type="submit" name="button">Clear all places now!</button>
</form>
